<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Wonder</title>
</head>
<body>
    <a href="{% url 'home' %}">Home</a>
    <section>
        <article>
            <h1>About Us</h1>
            <div class="row">
                <div class="column">
                    <p style="font-size: larger; font-style: oblique;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                        Welcome to First Wonder – Where Culinary Excellence Meets Global Flavors!
                    </p>
                    <p style="font-size: large; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                        At First Wonder, we invite you on a gastronomic journey that transcends borders, bringing the world's diverse and delectable cuisines to the heart of New York City. Nestled in the vibrant tapestry of this iconic metropolis, our restaurant is a celebration of International flavors, curated to delight the senses and ignite the spirit of adventure.
                    </p>
                    <p style="font-size: large;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                        Our chefs, hailing from various corners of the globe, have meticulously crafted a menu that reflects a harmonious blend of tradition and innovation. From the sizzling streets of Asia to the sun-kissed Mediterranean shores, each dish tells a story, a narrative of the rich cultural tapestry that defines our culinary philosophy.
                    </p>
                    <p style="font-size: large;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                        Beyond the exquisite plates that grace our tables, First Wonder is a space where hospitality and ambiance intertwine seamlessly. Whether you're seeking an intimate dinner for two, a joyous celebration with friends, or a corporate event that demands excellence, our versatile and welcoming atmosphere sets the stage for unforgettable experiences.
                    </p>
                    <p style="font-size: large;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                        At First Wonder, we don't just serve food; we curate moments. It's more than a meal; it's a journey. Join us in celebrating the artistry of global cuisine and the joy of shared experiences. Welcome to a culinary odyssey like no other!
                    </p>
                    <p style="padding-left: 50px;font-size: x-large ;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                        - Welcome to First Wonder -
                    </p>
                </div>
            </div>
        </article>
    </section>
</body>
</html>